.container {
  width: 65%;
  margin: 0 auto;
}
.logo_box {
  width: 65%;
  margin: 0 auto;
}
.search_box {
  display: flex;
  border-radius: 4px;
  background-color: #18163e;
  align-items: stretch;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1);
  height: 48px;
  margin: 16px;
}

.search_box:focus-within {
  outline: none;
  background-color: #18163e;
  box-shadow: 0 0 0 2px #b1dd79;
}

.input_style {
  -webkit-appearance: none;
  font-family: inherit;
  border-width: 0px;
  margin: 0px;
  padding: 0px 16px;
  border-radius: 4px;
  flex-grow: 1;
  color: white;
  background-color: #18163e;
}

.input_style:focus {
  outline: none;
}

.searchicon {
  height: 24px;
  margin: 0px;
}

.search_btn {
  background-color: #b1dd79;
  color: white;
  width: 56px;
  border-width: 0px;
  padding: 1em;
  margin: 0px;
  border-radius: 0px 4px 4px 0px;
  flex-grow: 0;
  text-align: center;
}

.search_btn:hover {
  background-color: white;
  color: #b1dd79;
}

@media screen and (min-width: 400px) {
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 65%;
  }
  .logo_box {
    width: 60%;
    display: flex;
    justify-content: center;
  }
  .search_box {
    width: 60%;
    margin: 0 auto;
  }
  .image {
    height: 60%;
    width: 60%;
  }
}
@media screen and (min-width: 1500px) {
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 65%;
  }
  .logo_box {
    width: 60%;
    display: flex;
    justify-content: center;
  }
  .search_box {
    width: 60%;
    margin: 0 auto;
  }
  .image {
    height: 60%;
    width: 60%;
  }
}
