.register_box {
  margin: 2em auto;
  height: 25%;
  padding: 10px;
  flex-direction: column;
}
.card_header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  color: white;
  margin: 0.5em;
}
.card_body {
}
.input_group,
.button_box {
  display: flex;
  justify-content: center;
  margin: 10px;
  flex-direction: column;
}
.input_style {
  font-weight: bold;
  color: black;
}
.label_style {
  font-weight: ital;
  font-style: italic;
  color: #02b1c8;
}
.error_message {
  text-align: center;
  color: rgb(233, 114, 114);
  margin-top: 3px;
  margin-bottom: 0;
}
.input_button {
  background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
  background-color: #44c767;
  border-radius: 9px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
  padding: 9px 20px;
  text-decoration: none;
}
.input_button:hover {
  background: linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
  background-color: #5cbf2a;
}
.input_button:active {
  position: relative;
  top: 1px;
}
.link_box {
  display: flex;
  justify-content: center;
}
.link {
  color: white;
}
